html {
  /* background-color: #22272E; */
  background-color: var(--htmlBackgroundColor);
  background: var(--backgroundImage);
  background-attachment: fixed;
  scroll-behavior: smooth;
  transition: 1s;
}

.githubImageIcon {
  margin-left: 10px;
  content: var(--githubLogo);
  min-width: 40px;
}

.mainContainer {
  /* border-color: chocolate;
        border-style: solid; */
  /* border-width: 5px; */
  display: flex;
  flex-direction: row;
  margin-left: 3%;
  white-space: nowrap;
  width: 90%;
  /* overflow: hidden; */
}

.pojectSelector {
  /* border-color: black;
     border-style: solid; */
  display: flex;
  flex-direction: column;
}

.selectorHeader {
  /* border-color: blue;
    border-style: solid; */
  display: flex;
  flex-direction: col;
  background-color: var(--projectTitleBackgroundColor);
}

.colorMode {
  /* border-color: black;
        border-style: solid; */
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: 100%;
  text-align: center;
  margin: 0px;
  align-self: flex-start;
}

.projectSelector {
  display: flex;
  flex-direction: column;
  position: relative;
}
.darkModeButton,
.brightModeButton {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 12px;
  cursor: pointer;
}

.darkModeButton {
  background-color: #363636;
  color: white;
}

.brightModeButton {
  background-color: rgb(224, 224, 224);
  color: black;
}

div.pojectSelector {
  /* position: -webkit-sticky;
     position: sticky; */
  /* top: 12px; */
}
.projectTitle {
  /* border-color: blue;
    border-style: solid; */

  padding: 10px;
  margin-bottom: 5px;
  color: var(--primaryTextColor);
  transition: 1s;
  font-weight: bold;
  font-size: x-large;
  font-family: serif;
}

.author {
  font-size: 1.2rem;
  font-weight: lighter;
  text-align: center;
}

.projectCategory {
  /* border-color: red;
    border-style: solid; */
  display: flex;
  flex-direction: column;
  /* align-content: stretch; */
  background-color: var(--htmlBackgroundColor);
  justify-content: flex-start;
  height: min-content;
  width: min-content;
}
.projectCategory .categoryItem {
  height: 23px;
  color: var(--primaryTextColor);
  font-size: medium;
  font-weight: bold;
}
.categoryTablinks,
.tablinks {
  box-shadow: 10px 5px 10px 1px rgb(65, 65, 65);
}

button {
  border-radius: 2%;

}

#videoContainer {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
  height: 0px;
  /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}
iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.projectCategoryBack {
  /* border-color: rgb(251, 255, 0);
    border-style: solid; */
  width: 100%;
}

.projectPicker {
  /* border-color: rgb(30, 229, 255);
    border-style: solid; */
  display: flex;
  flex-direction: row;
  width: min-content;
}

.projectNameContainer {
  /* border-color: green;
    border-style: solid; */

  display: flex;
  flex-direction: column;
  background: none;
}

.projectNameItem {
  width: max-content;
  /* border-color: rgb(245, 0, 0);
        border-style: solid; */
  animation: spawn 1s ease;
  color: var(--primaryTextColor);
  font-size: medium;
  font-weight: 700;
  height: 23px;
}

.contentPage {
  border-color: rgb(124, 127, 148);
  border-style: solid;
  margin-left: 50px;
  width: fit-content;
  color: var(--primaryTextColor);
  /* background-color: #363636; */
  background-color: var(--contentBackgroundColor);
  /* background-color: #0D7377; */
  box-shadow: 10px 15px 10px 1px rgb(65, 65, 65);
  transition: 1s;
}
.contentPage img {
  display: flex;
  flex-direction: column;
}

.tab {
  float: left;
  width: 100%;
  background-color: inherit;
}

.tab button {
  position: relative;
  display: flex;
  background-color: inherit;
  padding: 22px 16px;
  width: 100%;
  border: solid;
  text-align: left;
  cursor: pointer;
  transition: 1s;
  border-color: gray;
  border-width: 1.5px;
  background-color: var(--htmlBackgroundColor);
  z-index: 1;
}
.tab button:hover {
  background-color: var(--highlightedHoverColor);
}
.tab button.active {
  z-index: 10;
  outline: none;
  border-color: #9ecaed;
  box-shadow: 0 0 5px var(--highlightedActiveBorderColor);
  background-color: var(--highlightedActiveColor);
}
.tabcontent {
  float: left;
  padding: 0px 0px;
  width: 100%;
}
.menuAndTitle {
  display: flex;
  flex-direction: row;
  border-width: 1px;
  border-style: solid;
  border-color: gray;
}

@keyframes spawn {
  0% {
    opacity: 0%;
  }

  100% {
    opacity: 100%;
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(0);
  }
}

.dropdownMenu {
  display: none;
}

@media only screen and (max-width: 950px) {
  a {
    margin-right: 10px;
  }
  .mainContainer {
    display: flex;
    flex-direction: column;
    width: 90%;
    zoom: 0.9;
  }

  .colorMode {
    display: flex;
    flex-direction: column;
  }
  .projectSelector {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .dropdownMenu {
    position: relative;
    display: inline-block;
  }

  .openMobileNavButton {
    display: block;
    width: 80px;
    height: 50px;
    margin-right: 10px;
    border-radius: 20px;
    font-size: x-large;
    background-color: white;
  }

  .selectorHeader {
    padding-right: 5px;
    height: 100%;
  }
  .projectTitle {
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin-bottom: 0px;
    font-size: x-large;
  }
  .author {
    display: none;
    align-self: center;
    height: min-content;
  }
  .projectPicker {
    flex-direction: row;
    display: flex;
  }
  #projectPicker {
    display: flex;
    flex-direction: row;
  }
  .contentPage {
    margin-top: 1%;
    margin-left: 0px;
    top: 25%;
    width: 95%;
    position: relative;
  }

  .tabcontent {
    width: 100%;
  }
  .tab {
    display: flex;
    flex-direction: column;
  }
  div.pojectSelector {
    position: relative;
  }
  .menuAndTitle {
    display: flex;
    flex-direction: row;
  }

  .projectCategory .categoryItem {
    font-size: 1.4rem;
  }
}
